*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.navbar-link{
    text-decoration: none;
    color: black;
}


#preloader{
    background: #FFFBF5 url(../img/preloader.gif) no-repeat center center;
    background-size: 40%;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10000;

}
.preloader{
    visibility: hidden;
    display: none;
}
/* Carousel */
.carousel_text{
    position: absolute;
    top: 100px;
    left: 200px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 30px;
    border-radius: 10px;
}

/* New Arrival */
.underline{
    width: 70px;
    border: 2px solid black;
    border-radius: 5px;
}
.line1{
    display: inline-block;
    width: 50%;
    border: 2px solid red;
}
.line2{
    display: inline-block;
    width: 50%;
    border: 2px solid green;
}
.new_arrival_img{
    position: relative;
}
.arrival-btn{
    position: absolute;
    top: 40%;
    left: 35%;
    display: none;
}
.new_arrival_img:hover .arrival-btn{
    display: block;
}
.new_arrival_img:hover .new_img{
    opacity: 0.7;
}

/* latest news */
.img-cover{
    overflow: hidden;
}
.zoom:hover{
    transform: scale(1.5);
    transition-duration: .6s;
}

/* slick */
.promo{
    position: relative;
}
.promo-price{
    position: absolute;
    top: 0px;
    right: 0px;
}
.origin-price{
    position: absolute;
    top: 30px;
    right: 0px;
    text-decoration: line-through;
}

.left_arrow{
    position: absolute;
    z-index: 1;
    top: 40%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
.left_arrow:hover, .right_arrow:hover{
    background-color: rgb(103, 48, 48, 0.7);
}
.right_arrow{
    position: absolute;
    z-index: 1;
    top: 40%;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

/* promotion */
.zoomin {
    max-width: 300px;
    margin: 25px;
}
  
.zoomin img {
    max-width: 100%;
}
  
.loupe {
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;;
    /* border: 1px solid black; */
    box-shadow: 1px 2px 3px black;
    /* background: rgba(0, 0, 0, 0.25); */
    cursor: crosshair;
    overflow: hidden;
}
  
.loupe img {
    position: absolute;
    right: 0;
}
.form{
    width: 50px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    text-align: center;
}
.form:focus{
    border: 3px solid rgb(161, 232, 255);
    outline: none;
}
.divider{
    background-color: rgb(216, 2, 2);
    width: 10px;
    height: 50px;
    padding-left: 5px;
    margin-right: 10px;
}
/* promotion */