@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.zoomin{
    position: relative;
    transform: scale(0);
    /* transform: translateY(150px); */
    opacity: 0;
    transition: 1s all ease;
}
.closeBtn{
    position: absolute;
    right: -20px;
    top: -10px;
    background-color: #AD8E3D;
    opacity: 1;
    color: white;
    padding: 10px;
    border-radius: 50%;
}
.closeBtn:hover{
    background-color: #AD8E3D;
    opacity: 1;
}
.btn-lightgold{
    background-color: white;
    color: #AD8E3D;
}
.btn-lightgold:hover{
    background-color: #AD8E3D;
    color: white;
    /* transition-duration: .6s; */
}
.div{
    border: 1px solid black;

} 
.bg-modal{
    background-color: rgba(0, 0, 0, 0.1);
}
.zoomin.active{
    transform: scale(1);
    opacity: 1;
}
#about{
    overflow: hidden;
}
.leftin{
    position: relative;
    transform: translateX(-500px);
    /* transform: translateY(150px); */
    opacity: 0;
    transition: 1s all ease;
}
  
.leftin.Leftin{
    transform: translateX(0);
    opacity: 1;
}

.rightin{
    position: relative;
    transform: translateX(500px);
    /* transform: translateY(150px); */
    opacity: 0;
    transition: 1s all ease;
}
  
.rightin.Rightin{
    transform: translateX(0);
    opacity: 1;
}
#body {
    background-image: url("../img/back1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.navbar-line{
    border-bottom: 1px solid #AD8E3D;
}
.line{
    border: 1px solid #AD8E3D;
}
.logo-service{
    color: #AD8E3D;
    font-size: 12px;
    position: relative;
    top: -10px;
}
.logo{
    position: relative;
    top: 10px;
    text-align: left;
}
.logo-name{
    font-size: 16px;
    font-weight: 600;
}
.logo-img{
    position: relative;
    top: -10px;
}
.nav-link{
    color: #AD8E3D;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.btn-book{
    background-color: #AD8E3D;
    color: #fff;
    padding: 10px 15px;
}
.btn-book:hover{
    background-color: #000;
    color: #AD8E3D;
    transition-duration: .6s;
}
i{
    color: #AD8E3D;
}
.goldText{
    color: #AD8E3D;
}
.subnav {
    float: left;
    overflow: hidden;
}
  
.subnav .subnavbtn {
   font-size: 16px;  
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
}
  
 .subnav:hover .subnavbtn {
   background-color: rgb(255, 255, 255);
   color: black;
}
  
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    z-index: 1;
    padding: 20px 0px;
}
  
.subnav-content a {
    float: left;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.link:hover{
    background-color: #AD8E3D;
    color: rgb(255, 255, 255);
}
.link:hover i{
    color: rgb(255, 255, 255);
}
  
.subnav:hover .subnav-content {
    display: block;
}

.link{
    background-color: rgb(244, 244, 244);
    width: 100px;
    height: 100px;
    padding: 15px 0px;
    margin-left: 10px;
    text-align: center;
    border: 1px solid #AD8E3D;
}
.side-link{
    display: block;
    width: 100px;
    text-align: center;
    border: 1px solid #AD8E3D;
    padding-top: 20px;
    margin-top: 40px;
    color: #000;
}
.side-link:hover{
    background-color: #AD8E3D;
    color: white;
    transition-duration: .6s;
}
.side-link:hover i{
    color: white;
    transition-duration: .6s;
}
.profile-title{
    position: relative;
    top: 20px;
}
.profile-nav{
    position: relative;
    float: right;
}

/* slick */
.left_arrow{
    position: absolute;
    z-index: 1;
    top: 40%;
    padding: 10px;
    border-radius: 50%;
    color: #AD8E3D;
    font-size: 30px;
    cursor: pointer;
}
/* .left_arrow:hover, .right_arrow:hover{
    background-color: rgba(0, 0, 0, 0.3);
} */
.right_arrow{
    position: absolute;
    z-index: 1;
    top: 40%;
    right: 0px;
    padding: 10px;
    border-radius: 50%;
    color: #AD8E3D;
    font-size: 30px;
    cursor: pointer;
}

.carousel-caption{
    width: 100%;
    height: 30%;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    bottom: 50%;
    left: 0%;
    color: #fff;
}
.home-text{
    background-color: rgba(0, 0, 0, 0.3);

}
.btn-gold{
    background-color: #AD8E3D;
    color: #fff;
}
.btn-gold:hover{
    background-color: black;
    color: #AD8E3D;
    transition-duration: .6s;
}
/* slick */
/* Booking */

::-webkit-calendar-picker-indicator { 
    color: #AD8E3D; 
}

.btnopt {
	position: relative;
	width: 100%;
	margin: 0px;
	padding: 10px 3px;
	background-color: #fff;
	border: 1px solid #d8d8d8;
	border-radius: 2px;
	text-overflow: ellipsis;
	font-size: 17px;
	-webkit-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
	text-align: left;
	color: #484848;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}
.guests-input {
  width: 100%;
  margin: 0 auto;
}
.guests-input button {
	cursor: pointer;
    border-radius: 7px;
    height: 40px;
    line-height: 20px;
    padding-left: 10px;
}
.guests-input button:after,
.guests-input button:before {
	content: " ";
	width: 10px;
	height: 2px;
	border-radius: 2px;
	background-color: #484848;
	position: absolute;
	top: 19px
}
.guests-input button:before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	right: 15px
}
.guests-input button:after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	right: 21px
}
.guests-input button.open:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}
.guests-input button.open:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
.guests-input__options {
	width: 100%;
	background-color: #fff;
	border-radius: 2px;
	overflow: hidden;
	height: 0;
	opacity: 0;
    
}
.guests-input__options.open {
	opacity: 1;
	height: 146px
}
.guests-input__options>div {
	padding: 10px 0;
	text-align: center;
}
.guests-input__options>div:first-child {
	padding-top: 35px
}
.guests-input__options>div:last-child {
	padding-bottom: 35px
}
.guests-input__ctrl {
	display: inline-block;
	border: 1px solid #484848;
	font-size: 20px;
	color: #484848;
	padding: 3px 8px;
	line-height: 20px;
	border-radius: 2px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all .2s ease;
	transition: all .2s ease
}
.guests-input__ctrl.disabled {
	color: #d8d8d8;
	border-color: #d8d8d8;
	cursor: default
}
.guests-input__value {
	display: inline-block;
	padding: 0 10px;
	width: 100px;
	cursor: default
}
.guests-input__value span {
	display: inline-block;
	padding-right: 5px
}
/* booking */


/* Intro Start */
.flip-font{
    font-size: 20px;
    font-family: 'Lobster', cursive;
}
.intro-para{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.underline{
    width: 100px;
    border: 4px solid #AD8E3D;
    border-radius: 5px;
}
/* Intro End */

/* Bedroom start */
.bedroom{
    background-image: url(../img/hotelbedroom.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    overflow: hidden;
}
.text-box{
    background-color: #AD8E3D;
    color: #fff;
    width: 350px;
    padding: 100px 50px;
    margin-left: auto;
}

/* Bedroom end */

.placesInBagan{
    font-size: 20px;

}

/* Read More Read Less */
.add-read-more.show-less-content .second-section,
.add-read-more.show-less-content .read-less {
   display: none;
}

.add-read-more.show-more-content .read-more {
   display: none;
   font-family: 'Poppins', sans-serif;
}

.add-read-more .read-more,
.add-read-more .read-less {
   font-weight: bold;
   margin-left: 2px;
   color: #AD8E3D;
   cursor: pointer;
}
.visit{
    overflow: hidden;
}
.popout:hover{
    transform: scale(1.3);
    transition-duration: .6s;
}
/* Read more Read less */

/* exclusive */
.bg-gold{
    background-color: #AD8E3D;
}

.divided{
    margin-left: 30px;
    display: block;
}

/* Scroll to top button for index.html*/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0, 0, 0, 0.5); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50% 10%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
  
#myBtn:hover {
    background-color: rgba(2, 2, 2, 0.7); /* Add a dark-grey background on hover */
}

/* Scroll to top button for room.html*/




/* Popup Chat Start */
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  /* background-color: #555; */
  /* padding: 16px 20px; */
  font-size: 40px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 80px;
  right: 20px;
  /* width: 280px; */
}
.fa-facebook-messenger{
    color:rgb(133, 133, 133);
}
/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 10;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.book-text{
    position: absolute;
    top: 900px;
    visibility: hidden;
}
.booking{
    margin: 100px 0px;
}
.backColor{
    background-color: #cacaca;
    padding: 20px 50px;
}

#booking{
    padding-top: 100px;
}

/* about.html */
.about{
    margin-top: 160px;
}
.line1{
    width: 200px;
    border: 4px solid #AD8E3D;
    border-radius: 5px;
}
.review-box{
    width: 250px;
    height: 300px;
    padding: 20px 20px;
    background-color: #d6d6d6;
    position: relative;
    border: 2px solid #AD8E3D;
    margin: 2px 10px;
}
.review-name{
    position: absolute;
    bottom: 20px;
}
.checked{
    color: #AD8E3D;
}
.starview{
    font-size: 50px;
    font-weight: 700;
}
.starword{
    font-size: 18px;
    color: #000;
    font-weight: 100;
}

/* room.html */
#room{
    margin-top: 200px;
}
/* Read More Read Less */
.add-read-more1.show-less-content1 .second-section1,
.add-read-more1.show-less-content1 .read-less1 {
   display: none;
}

.add-read-more1.show-more-content1 .read-more1 {
   display: none;
}

.add-read-more1 .read-more1,
.add-read-more1 .read-less1 {
   font-weight: bold;
   margin-left: 2px;
   color: #AD8E3D;
   cursor: pointer;
}
.visit1{
    overflow: hidden;
}
.popout1:hover{
    transform: scale(1.3);
    transition-duration: .6s;
}
/* Read more Read less */

.img-cover{
    overflow: hidden;
}
.image:hover{
    transform: scale(1.3);
    transition-duration: .6s;
}

.left-slide-in{
    animation: moveleft 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes moveleft{
    0%{
        transform: translateX(-100px);
        visibility: visible;
    }
    100%{
        transform:translateX(0);
        visibility: visible;
    }
}
.right-slide-in{
    animation: moveright 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes moveright{
    0%{
        transform: translateX(100px);
        visibility: visible;
    }
    100%{
        transform:translateX(0);
        visibility: visible;
    }
}
.slideup-in{
    animation: moveup 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes moveup{
    0%{
        transform: translateY(100px);
        visibility: visible;
    }
    100%{
        transform:translateY(0);
        visibility: visible;
    }
}

#contact{
    margin-top: 200px;
}

.input{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-top: 50px;

}
.input:focus{
    outline: none;
}

#service{
    margin-top: 200px;
}
.v-line{
    background-color: #AD8E3D;
    padding: 1px 3px;
    margin-right: 10px;
    
}
.bed{
    width: 150px;
    height: 50px;
    border: 1px solid #AD8E3D;
    color: black;
    font-size: 16px;
}
.lightColor{
    background-color: rgb(232, 232, 232);
}
.room-card{
    border: 2px solid rgb(187, 2, 2);
    background-color: rgba(255, 152, 152, 0.1);
}
.btn-outline-gold{
    border: 1px solid #AD8E3D;
}
.btn-outline-gold:hover{
    background-color: #AD8E3D;
    color: #fff;
}
.room-card1{
    border: 2px solid rgb(52, 52, 52);
    width: 100%;
}